body{
    font-size: 18px;
}

#header{
    background-color: #3c9ec2;
    text-align: center;
    border-radius: 20px;
}

#header .display-4{
    font-size: 4em;
    color:#eee;
    font-weight: 900;
}

#header .lead{
    font-size: 2em;
    color: rgb(190, 179, 179);
    font-weight: bold;
}

.card.col-12{
    padding: 0;
    margin-bottom: 20px;
}

div.card-body{
    padding-top: 0px;
}

div.card-body th{
    border-top:0;
}